<div class="container mt-5">
    <h2 class="text-center mb-4 ">To-Do List</h2>

    <div class="border rounded p-2">
        <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    </div>
    <h4 class="text-center my-4">Your todos </h4>

    <div *ngIf="this.todos.length===0; else elseBlock">No todos to show</div>
    <ng-template #elseBlock>

        <div *ngFor="let todo of todos">
            <app-todo-item [todo]="todo" (todoDelete)=" deleteTodo($event)" (todoCheckbox)="toggleTodo($event)">

            </app-todo-item>
        </div>
    </ng-template>
</div>