<div class="row">
    <div class="col-sm-6">
        <!-- <div class="card-group"> -->
        <div class="card my-2 text-center border-primary " >
            <div class="card-header">
                <h4 [ngClass]="{'strike': !todo.active}">
                    {{todo.title}}
                </h4>
            </div>
            <div class="card-body text-primary">
                <p class="card-text" [ngClass]="{'strike': !todo.active}">
                    {{todo.description}}
                </p>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="done" (click)="onCheckboxClick(todo)"
                        [checked]="!todo.active">
                    <label class="form-check-label" for="done">Mark As Done</label>

                </div>
                <button class="btn btn-sm btn-danger" (click)="onClick(todo)">delete</button>
            </div>
        </div>
    </div>
</div>